.title-4 {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  color: #3D4F9F;
  margin-bottom: 2.5rem;
}
.title-4__white {
  color: white;
  z-index: 5;
}

.title-2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 3.6rem;
  color: #3D4F9F;
  margin-bottom: 2.5rem;
}
.title-2__white {
  color: white;
  text-align: center;
  z-index: 5;
}
.title-2__card {
  text-align: left;
  font-size: 3.8rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 1020px) {
  .title-2__card {
    text-align: center;
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 420px) {
  .title-2__card {
    font-size: 2.4rem;
  }
}

.text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 3.5rem;
  color: #8D96BD;
}
.text__grey_big {
  color: #8D96BD;
  font-size: 1.1rem;
  font-weight: bold;
}
.text__white {
  color: white;
  text-align: center;
  margin-bottom: 5rem;
  z-index: 5;
}
.text__white_big {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: right;
}
.text__blue_big {
  color: #5E80FF;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
}
.text__question {
  font-size: 1.6rem;
}
.text__card {
  text-align: justify;
  margin-bottom: 2rem;
}

.title-5 {
  font-weight: bold;
  font-size: 1.4rem;
  color: #4074F8;
}

.title-3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 4.8rem;
}
.title-3_white {
  color: white;
  margin-bottom: 2.5rem;
}
.title-3_blue {
  color: #5E80FF;
  margin-bottom: 2.5rem;
}

.title-6 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: #3D4F9F;
  margin-bottom: 2rem;
}

.title-1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 4.8rem;
  color: #3D4F9F;
  margin-bottom: 2.5rem;
}

button {
  padding: 1.3rem 2.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.buttons {
  display: flex;
}
@media only screen and (max-width: 1020px) {
  .buttons {
    margin-bottom: 5rem;
  }
}
.buttons__about {
  justify-content: center;
  align-items: center;
}
.buttons__hr {
  width: 2rem;
  margin: 0 2rem;
}
@media only screen and (max-width: 1020px) {
  .buttons__card {
    margin-bottom: 1rem;
  }
}

.bright {
  background: #4C85FF;
  color: white;
  box-shadow: 0 0.5rem 1.5rem rgba(142, 150, 183, 0.75);
  transition: all 0.3s ease;
  border-radius: 0.5rem 0 0 0.5rem;
}
.bright:hover {
  background: #4D6CE1;
  transform: translateY(-0.5rem);
}
.bright__white {
  background: white;
  color: #495274;
  z-index: 5;
}
.bright__white:hover {
  background: white;
  transform: translateY(-0.5rem);
}
.bright:active {
  transform: translateY(-0.2rem);
}

.dim {
  border: 0.1rem solid #8E96B7;
  color: #8E96B7;
  background: transparent;
  transition: all 0.3s ease;
  border-radius: 0 0.5rem 0.5rem 0;
}
.dim:hover {
  background: #4D6CE1;
  color: white;
  border: 0.1rem solid #4D6CE1;
  transform: translateY(-0.5rem);
}
.dim__blue {
  color: #D2E1FF;
  border: 0.1rem solid #D2E1FF;
  z-index: 5;
}
.dim:active {
  transform: translateY(-0.2rem);
}
.dim__card {
  border: none;
  border-radius: 0.5rem;
}
.dim__card:hover {
  border: none;
}

.red {
  background: #FFD7D7;
  color: #D43F3F;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
}
.red:hover {
  color: white;
  background: #D43F3F;
  transform: translateY(-0.5rem);
}
.red:active {
  transform: translateY(-0.2rem);
}

.blue {
  background: #D2E1FF;
  color: #4074F8;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
}
.blue:hover {
  color: white;
  background: #4D6CE1;
  transform: translateY(-0.5rem);
}
.blue:active {
  transform: translateY(-0.2rem);
}

.dark {
  background: #4D6CE1;
  color: white;
  border-radius: 0.5rem;
  padding: 2rem 6rem;
  transition: all 0.3s ease;
}
.dark:hover {
  transform: translateY(-0.5rem);
}
.dark:active {
  transform: translateY(-0.2rem);
}
@media only screen and (max-width: 420px) {
  .dark {
    width: 100%;
  }
}

.grey {
  background: #E8ECF4;
  color: #495274;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;
  transition: all 0.3s ease;
}
.grey:hover {
  transform: translateY(-0.5rem);
  background: #495274;
  color: #E8ECF4;
}
.grey:active {
  transform: translateY(-0.2rem);
}

.app {
  width: 100%;
  background: #F5F8FF;
  display: flex;
  padding: 16rem 7rem;
}
.app__images {
  display: grid;
  grid-template-columns: repeat(12, 5rem);
  grid-template-rows: repeat(4, 10.5rem);
}
@media only screen and (max-width: 1020px) {
  .app__images {
    justify-content: center;
  }
}
@media only screen and (max-width: 420px) {
  .app__images {
    grid-template-columns: repeat(10, 5rem);
    grid-template-rows: repeat(3, 10.5rem);
  }
}
.app__images_1 {
  width: 10.7rem;
  height: 21.4rem;
  grid-column: 1/3;
  grid-row: 2/4;
  z-index: 2;
  filter: drop-shadow(0 2rem 4rem rgba(53, 60, 115, 0.15));
  cursor: default;
}
@media only screen and (max-width: 420px) {
  .app__images_1 {
    width: 8rem;
    height: 16rem;
    grid-column: 2/4;
    grid-row: 3/4;
  }
}
.app__images_2 {
  width: 14.8rem;
  height: 28rem;
  grid-column: 9/12;
  grid-row: -1/-4;
  z-index: 3;
  filter: drop-shadow(0 2rem 4rem rgba(53, 60, 115, 0.15));
  cursor: default;
}
@media only screen and (max-width: 420px) {
  .app__images_2 {
    width: 11.5rem;
    height: 22rem;
    grid-column: 8/11;
    grid-row: 2/4;
  }
}
.app__images_3 {
  width: 60.6rem;
  height: 34.9rem;
  grid-column: 1/-1;
  grid-row: 1/-2;
  filter: drop-shadow(0 2rem 4rem rgba(53, 60, 115, 0.15));
  cursor: default;
}
@media only screen and (max-width: 420px) {
  .app__images_3 {
    width: 48.2rem;
    height: 27.8rem;
  }
}
.app__column {
  padding: 3rem 3rem 4rem 16rem;
}
@media only screen and (max-width: 1240px) {
  .app__column {
    padding: 5rem;
  }
}
@media only screen and (max-width: 1020px) {
  .app__column {
    padding: 0;
  }
}
@media only screen and (max-width: 1020px) {
  .app {
    flex-direction: column;
    padding: 10rem 10rem;
    margin: 0 auto;
  }
}

.about {
  padding: 9rem 25rem;
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 1240px) {
  .about {
    padding: 9rem 10rem;
  }
}
@media only screen and (max-width: 1020px) {
  .about {
    padding: 9rem 5rem;
  }
}

.icon {
  cursor: default;
}
.icon__background {
  width: 7rem;
  height: 7rem;
  background: #F5F8FF;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  grid-row: 1/2;
}
.icon__background:hover {
  transform: scale(1.15);
}

.features {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto 3rem auto 3rem auto 3rem auto;
  justify-items: center;
  align-items: center;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 1020px) {
  .features {
    grid-template-columns: minmax(min-content, 28rem) 3rem minmax(min-content, 28rem);
    grid-template-rows: auto auto;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.feature {
  display: grid;
  grid-template-rows: 7rem max-content 20rem;
  gap: 2rem;
  justify-items: center;
  align-items: start;
}

hr {
  width: 3rem;
  height: 0;
  border: 0.1rem solid #E8ECF4;
}

@media only screen and (max-width: 1020px) {
  .middle {
    display: none;
  }
}

.clouds_1 {
  width: 5.45rem;
  height: 2.6rem;
  top: 14rem;
  left: 22rem;
  position: absolute;
  z-index: -5;
}
@media only screen and (max-width: 1020px) {
  .clouds_1 {
    top: 5rem;
    left: 18rem;
  }
}
.clouds_2 {
  width: 11.6rem;
  height: 6.2rem;
  top: 20rem;
  right: 7rem;
  position: absolute;
  z-index: -5;
}
.clouds_3 {
  width: 11.4rem;
  height: 5rem;
  bottom: 20rem;
  left: 12rem;
  position: absolute;
  z-index: -5;
}

.numbers {
  display: flex;
}
.numbers__bright {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  padding: 6.6rem 9rem 6.6rem 37rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.5s;
}
@media only screen and (max-width: 1240px) {
  .numbers__bright {
    padding: 6.6rem 9rem 6.6rem 20rem;
  }
}
@media only screen and (max-width: 1020px) {
  .numbers__bright {
    padding: 6.6rem 9rem 6.6rem 10rem;
  }
}
@media only screen and (max-width: 550px) {
  .numbers__bright {
    padding: 5rem;
  }
}
.numbers__light {
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  padding: 6.6rem 37rem 6.6rem 9rem;
  width: 50%;
  transition: all 0.5s;
}
@media only screen and (max-width: 1240px) {
  .numbers__light {
    padding: 6.6rem 20rem 6.6rem 9rem;
  }
}
@media only screen and (max-width: 1020px) {
  .numbers__light {
    padding: 6.6rem 10rem 6.6rem 9rem;
  }
}
@media only screen and (max-width: 550px) {
  .numbers__light {
    padding: 5rem;
  }
}

.speed {
  width: 6.5rem;
  height: 6.6rem;
  margin-bottom: 2.5rem;
}

.people {
  width: 7.1rem;
  height: 6.2rem;
  margin-bottom: 2.5rem;
}

.get-started {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9rem 35rem;
  position: relative;
}
@media only screen and (max-width: 1240px) {
  .get-started {
    padding: 9rem 20rem;
  }
}
@media only screen and (max-width: 1020px) {
  .get-started {
    padding: 9rem 10rem;
  }
}

.clouds__blue_1 {
  width: 22.4rem;
  height: 13.4rem;
  position: absolute;
  top: 7.2rem;
  left: 5.4rem;
}
.clouds__blue_2 {
  width: 19rem;
  height: 7rem;
  position: absolute;
  bottom: 5.6rem;
  left: 11.1rem;
}
.clouds__blue_3 {
  width: 42.5rem;
  height: 18.6rem;
  position: absolute;
  right: 9rem;
  bottom: 7rem;
}

.sign-up {
  display: flex;
  padding: 12rem 27rem;
  align-items: center;
  justify-content: center;
  background: #F5F8FF;
}
@media only screen and (max-width: 1240px) {
  .sign-up {
    padding: 10rem 15rem;
  }
}
@media only screen and (max-width: 1020px) {
  .sign-up {
    padding: 10rem 5rem;
    flex-direction: column;
  }
}
.sign-up__column_1 {
  margin-right: 9rem;
  width: 33rem;
}
@media only screen and (max-width: 1020px) {
  .sign-up__column_1 {
    width: auto;
    margin-right: 0;
    text-align: center;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 420px) {
  .sign-up__column_2 {
    margin: 0 auto;
  }
}

.email {
  width: 28rem;
  height: 6rem;
  outline: none;
  border: none;
  background: #E8ECF4;
  border-radius: 0.5rem;
  padding: 2rem;
  color: #495274;
}
.email::placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  color: #495274;
}
.email:focus {
  border-bottom: 0.3rem solid #4074F8;
}
.email:focus:invalid {
  border-bottom: 0.3rem solid #D43F3F;
}
@media only screen and (max-width: 420px) {
  .email {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 10rem 12rem;
}
@media only screen and (max-width: 1020px) {
  .footer {
    padding: 5rem;
  }
}
.footer__line_1 {
  display: grid;
  grid-template-columns: 3rem 1fr 15rem max-content;
  gap: 4rem;
  align-items: center;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 1020px) {
  .footer__line_1 {
    grid-template-columns: 3rem 15rem max-content;
    grid-template-rows: max-content max-content;
    justify-content: center;
  }
}
@media only screen and (max-width: 420px) {
  .footer__line_1 {
    grid-template-columns: min-content;
    grid-template-rows: repeat(4, max-content);
    justify-content: center;
  }
}
@media only screen and (max-width: 1020px) {
  .footer__line_2 {
    text-align: center;
  }
}

.logo {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 100%;
  background: #5E80FF;
  transition: all 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 1020px) {
  .logo {
    grid-column: 1/2;
  }
}
@media only screen and (max-width: 420px) {
  .logo {
    grid-row: 1/2;
  }
}

@media only screen and (max-width: 1020px) {
  .links {
    grid-column: 1/-1;
    grid-row: 2/-1;
  }
}
@media only screen and (max-width: 420px) {
  .links {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
  }
}

a {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  color: #697CA6;
  text-decoration: none;
  margin-bottom: 1rem;
}
a:not(:last-child) {
  margin-right: 4rem;
}
a:hover {
  color: #4074F8;
}

.social-networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-networks svg:hover {
  fill: #4074F8;
}
@media only screen and (max-width: 420px) {
  .social-networks {
    grid-row: 3/4;
  }
}

.questions {
  padding: 10rem 34rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions__block {
  width: 100%;
}
.questions__block hr {
  width: 100%;
}
@media only screen and (max-width: 1240px) {
  .questions {
    padding: 10rem 15rem;
  }
}
@media only screen and (max-width: 1020px) {
  .questions {
    padding: 10rem 5rem;
  }
}

.question {
  display: flex;
  align-items: center;
  padding: 2rem;
  cursor: pointer;
  user-select: none;
}
.question svg {
  margin-right: 2.5rem;
}
@media only screen and (max-width: 550px) {
  .question svg {
    width: 1.8rem;
    height: 1.1rem;
  }
}
.question:hover p {
  color: #495274;
  font-weight: bold;
}
.question:hover svg path {
  stroke: #495274;
}

.open svg path {
  stroke: #495274;
}
.open svg {
  transform: rotate(180deg);
}
.open p {
  color: #495274;
  font-weight: bold;
}

.answer {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 2rem 6.2rem;
  user-select: none;
}
.answer p {
  margin-right: 6rem;
  width: 55%;
}
.answer__open {
  display: flex;
}
@media only screen and (max-width: 550px) {
  .answer {
    flex-direction: column;
    align-items: flex-start;
  }
  .answer p {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.resources {
  background: #F5F8FF;
  padding: 10rem 12rem;
  text-align: center;
}
@media only screen and (max-width: 1240px) {
  .resources {
    padding: 10rem 7rem;
  }
}
@media only screen and (max-width: 1020px) {
  .resources {
    padding: 8rem 5rem;
  }
}
@media only screen and (max-width: 420px) {
  .resources {
    padding: 5rem 0;
  }
}

.card {
  background: white;
  margin: 5rem 10rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  border: 0.1rem solid #D2E1FF;
}
@media only screen and (max-width: 1020px) {
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    justify-items: center;
    margin: 0 10rem 5rem 10rem;
  }
}
@media only screen and (max-width: 420px) {
  .card {
    margin: 0 6rem 5rem 6rem;
  }
}
.card__images {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(2, 13rem);
  gap: 1rem;
  padding: 6rem 1.5rem 6rem 3rem;
}
@media only screen and (max-width: 1020px) {
  .card__images {
    grid-template-rows: repeat(2, 10rem);
    gap: 0.5rem;
    padding: 2rem 0;
  }
}
@media only screen and (max-width: 420px) {
  .card__images {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(3, 10rem);
  }
}
.card__text {
  padding: 6rem 3rem 6rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media only screen and (max-width: 1020px) {
  .card__text {
    padding: 1rem 3.5rem;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 420px) {
  .card__text {
    padding: 1rem 1rem;
  }
}

.resources_1 {
  width: 27rem;
  height: 27rem;
  grid-row: 1/-1;
  grid-column: 1/3;
  filter: drop-shadow(0 1.5rem 10rem #E5EBF8);
  cursor: default;
}
@media only screen and (max-width: 1020px) {
  .resources_1 {
    width: 20.5rem;
    height: 20.5rem;
  }
}
@media only screen and (max-width: 420px) {
  .resources_1 {
    grid-row: 1/3;
    grid-column: 1/-1;
  }
}
.resources_2 {
  width: 13rem;
  height: 13rem;
  grid-row: 1/2;
  grid-column: -2/-1;
  filter: drop-shadow(0 1.5rem 10rem #E5EBF8);
  cursor: default;
}
@media only screen and (max-width: 1020px) {
  .resources_2 {
    width: 10rem;
    height: 10rem;
  }
}
@media only screen and (max-width: 420px) {
  .resources_2 {
    grid-row: -2/-1;
    grid-column: 1/2;
  }
}
.resources_3 {
  width: 13rem;
  height: 13rem;
  grid-row: -2/-1;
  grid-column: -2/-1;
  filter: drop-shadow(0 1.5rem 10rem #E5EBF8);
  cursor: default;
}
@media only screen and (max-width: 1020px) {
  .resources_3 {
    width: 10rem;
    height: 10rem;
  }
}
@media only screen and (max-width: 420px) {
  .resources_3 {
    grid-row: -2/-1;
    grid-column: -2/-1;
  }
}

.feedback {
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  display: flex;
  padding: 10rem 0 10rem 22rem;
}
@media only screen and (max-width: 1020px) {
  .feedback {
    padding: 10rem 0 10rem 5rem;
  }
}
@media only screen and (max-width: 420px) {
  .feedback {
    padding: 5rem 0 5rem 3rem;
  }
}
.feedback__text {
  width: 40%;
  margin-right: 3rem;
}
.feedback__swiper {
  width: 60%;
}

.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40rem;
  margin-bottom: 7rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(142, 150, 183, 0.5);
}
@media only screen and (max-width: 1020px) {
  .comment {
    width: 25rem;
  }
}
@media only screen and (max-width: 420px) {
  .comment {
    width: 15rem;
  }
}
.comment__text {
  padding: 4.5rem 5rem;
  position: relative;
  background: white;
  text-align: left;
  line-height: 2rem;
  user-select: none;
}
@media only screen and (max-width: 1020px) {
  .comment__text {
    padding: 4rem 2rem;
    text-align: center;
  }
}
.comment__photo {
  width: 6.2rem;
  height: 6.2rem;
  position: absolute;
  top: 13.5rem;
  left: 17rem;
  user-select: none;
}
@media only screen and (max-width: 1020px) {
  .comment__photo {
    top: 14.5rem;
    left: 9.5rem;
  }
}
@media only screen and (max-width: 420px) {
  .comment__photo {
    top: 25rem;
    left: 4.5rem;
  }
}

.swiper2 .swiper-slide-active {
  opacity: 1;
}

.swiper2 .swiper-slide-next {
  opacity: 0.5;
}

.swiper2 .swiper-slide-prev {
  opacity: 0.5;
}

@media only screen and (max-width: 550px) {
  .swiper-pagination span {
    width: 5px;
    height: 5px;
  }
}

.companies {
  display: flex;
  justify-content: space-between;
  padding: 5rem 27rem;
}
@media only screen and (max-width: 1240px) {
  .companies {
    padding: 5rem 15rem;
  }
}
@media only screen and (max-width: 1020px) {
  .companies {
    padding: 5rem 10rem;
    display: grid;
    grid-template-rows: repeat(2, 5rem);
    grid-template-columns: repeat(3, 15rem);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2rem;
  }
}
@media only screen and (max-width: 420px) {
  .companies {
    grid-template-rows: repeat(3, 5rem);
    grid-template-columns: repeat(2, 15rem);
    padding: 5rem;
  }
}
.companies img {
  cursor: pointer;
}
.companies img:hover {
  filter: brightness(0.3);
}
@media only screen and (max-width: 1020px) {
  .companies img {
    width: 12rem;
    height: 4rem;
  }
}

.main {
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  text-align: center;
  position: relative;
}
.main p {
  line-height: 3rem;
  position: relative;
  z-index: 4;
}
.main__text {
  padding-top: 6rem;
  width: 40%;
  margin: 0 auto;
}
@media (max-width: 1500px) {
  .main__text {
    width: 60%;
  }
}
.main__icon {
  width: 5.2rem;
  height: 5.2rem;
  margin: 3rem auto 0 auto;
  position: relative;
  z-index: 5;
}
.main__clouds {
  display: block;
  width: 100%;
  height: 100%;
}
.main__clouds_1 {
  cursor: default;
  width: 4.5rem;
  height: 2.5rem;
  position: absolute;
  top: 6rem;
  left: 23rem;
}
.main__clouds_2 {
  cursor: default;
  width: 11.2rem;
  height: 6.7rem;
  position: absolute;
  top: 0;
  right: 12rem;
}
.main__clouds_3 {
  cursor: default;
  width: 7.45rem;
  height: 8.1rem;
  position: absolute;
  top: 15.3rem;
  left: 0;
}
.main__clouds_4 {
  cursor: default;
  width: 7.4rem;
  height: 3.7rem;
  position: absolute;
  top: 30rem;
  left: 25rem;
}
.main__clouds_5 {
  cursor: default;
  width: 15.4rem;
  height: 6.8rem;
  position: absolute;
  top: 45rem;
  right: 25rem;
}
.main__clouds_6 {
  cursor: default;
  width: 5.5rem;
  height: 5.5rem;
  position: absolute;
  top: 40rem;
  right: 0;
  overflow: hidden;
}
.main__graphic {
  position: relative;
  z-index: 4;
}
.main__graphic_line {
  margin-top: -12rem;
  margin-bottom: 4.6rem;
  width: 97.8vw;
  height: 32.5rem;
  cursor: default;
  filter: drop-shadow(0 2rem 2rem #4444dd);
}
@media only screen and (max-width: 1020px) {
  .main__graphic_line {
    width: 96vw;
  }
}
@media only screen and (max-width: 420px) {
  .main__graphic_line {
    width: 94vw;
  }
}
.main__button {
  background: white;
  border: 0.2rem solid #6188FF;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  z-index: 6;
}
.main__button_1 {
  position: absolute;
  bottom: 4.4rem;
  left: 10rem;
}
@media only screen and (max-width: 1020px) {
  .main__button_1 {
    left: 3rem;
  }
}
.main__button_2 {
  position: absolute;
  bottom: 7.6rem;
  left: 45rem;
}
@media only screen and (min-width: 1800px) {
  .main__button_2 {
    left: 66rem;
  }
}
@media only screen and (max-width: 1020px) {
  .main__button_2 {
    left: 35rem;
  }
}
@media (max-width: 750px) {
  .main__button_2 {
    left: 25rem;
  }
}
@media only screen and (max-width: 420px) {
  .main__button_2 {
    left: 17rem;
  }
}
.main__button_3 {
  position: absolute;
  bottom: 23rem;
  right: 45rem;
}
@media only screen and (min-width: 1800px) {
  .main__button_3 {
    right: 66rem;
  }
}
@media only screen and (max-width: 1020px) {
  .main__button_3 {
    right: 32rem;
  }
}
@media (max-width: 750px) {
  .main__button_3 {
    right: 22rem;
  }
}
@media only screen and (max-width: 420px) {
  .main__button_3 {
    right: 13rem;
  }
}
.main__button_4 {
  position: absolute;
  bottom: 35.5rem;
  right: 7rem;
}
@media only screen and (min-width: 1800px) {
  .main__button_4 {
    bottom: 36rem;
  }
}
@media only screen and (max-width: 1020px) {
  .main__button_4 {
    right: 2rem;
    bottom: 36rem;
  }
}
@media (max-width: 600px) {
  .main__button_4 {
    right: 1rem;
    bottom: 36rem;
  }
}
@media only screen and (max-width: 420px) {
  .main__button_4 {
    right: 0;
  }
}

.speed_icon_background {
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 75%, 50% 85%, 40% 75%, 0% 75%);
  width: 9.2rem;
  height: 6.8rem;
  background: white;
  filter: drop-shadow(0.1rem 0.5rem 0.5rem #8D96BD);
  margin-top: -6rem;
  margin-left: -4rem;
  display: none;
}
@media only screen and (max-width: 1240px) {
  .speed_icon_background {
    margin-left: -2rem;
    width: 5rem;
  }
}
@media (max-width: 600px) {
  .speed_icon_background {
    margin-left: -3rem;
  }
}
@media only screen and (max-width: 420px) {
  .speed_icon_background {
    margin-left: -3.8rem;
  }
}

.speed_icon_close {
  display: block;
}

.speed_icon {
  transform: translateY(16%);
  width: 3.5rem;
  height: 3.5rem;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1240px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 550px) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: "Roboto Light", sans-serif;
}

.margin_bottom_7rem {
  margin-bottom: 7rem;
}

.margin_bottom_6rem {
  margin-bottom: 6rem;
}

/*# sourceMappingURL=style.css.map */
