.title-4 {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  color: #3D4F9F;
  margin-bottom: 2.5rem;
}
.title-4__white {
  color: white;
  z-index: 5;
}

.title-2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 3.6rem;
  color: #3D4F9F;
  margin-bottom: 2.5rem;
}
.title-2__white {
  color: white;
  text-align: center;
  z-index: 5;
}

.text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 3.5rem;
  color: #8D96BD;
}
.text__grey_big {
  color: #8D96BD;
  font-size: 1.1rem;
  font-weight: bold;
}
.text__white {
  color: white;
  text-align: center;
  margin-bottom: 5rem;
  z-index: 5;
}
.text__white_big {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: right;
}
.text__blue_big {
  color: #5E80FF;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
}

.title-5 {
  font-weight: bold;
  font-size: 1.4rem;
  color: #4074F8;
}

.title-3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 4.8rem;
}
.title-3_white {
  color: white;
  margin-bottom: 2.5rem;
}
.title-3_blue {
  color: #5E80FF;
  margin-bottom: 2.5rem;
}

.title-6 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: #3D4F9F;
  margin-bottom: 2rem;
}

button {
  padding: 1.3rem 2.5rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.buttons {
  display: flex;
}
@media only screen and (max-width: 1020px) {
  .buttons {
    margin-bottom: 5rem;
  }
}
.buttons__about {
  justify-content: center;
  align-items: center;
}
.buttons__hr {
  width: 2rem;
  margin: 0 2rem;
}

.bright {
  background: #4C85FF;
  color: white;
  box-shadow: 0 0.5rem 1.5rem rgba(142, 150, 183, 0.75);
  transition: all 0.3s ease;
  border-radius: 0.5rem 0 0 0.5rem;
}
.bright:hover {
  background: #4D6CE1;
  transform: translateY(-0.5rem);
}
.bright__white {
  background: white;
  color: #495274;
  z-index: 5;
}
.bright__white:hover {
  background: white;
  transform: translateY(-0.5rem);
}

.dim {
  border: 0.1rem solid #8E96B7;
  color: #8E96B7;
  background: transparent;
  transition: all 0.3s ease;
  border-radius: 0 0.5rem 0.5rem 0;
}
.dim:hover {
  background: #4D6CE1;
  color: white;
  border: 0.1rem solid #4D6CE1;
  transform: translateY(-0.5rem);
}
.dim__blue {
  color: #D2E1FF;
  border: 0.1rem solid #D2E1FF;
  z-index: 5;
}

.red {
  background: #FFD7D7;
  color: #D43F3F;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
}
.red:hover {
  color: white;
  background: #D43F3F;
  transform: translateY(-0.5rem);
}

.blue {
  background: #D2E1FF;
  color: #4074F8;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
}
.blue:hover {
  color: white;
  background: #4D6CE1;
  transform: translateY(-0.5rem);
}

.dark {
  background: #4D6CE1;
  color: white;
  border-radius: 0.5rem;
  padding: 2rem 6rem;
  transition: all 0.3s ease;
}
.dark:hover {
  transform: translateY(-0.5rem);
}

.app {
  width: 100%;
  background: #F5F8FF;
  display: flex;
  padding: 16rem 7rem;
}
.app__images {
  display: grid;
  grid-template-columns: repeat(12, 5rem);
  grid-template-rows: repeat(4, 10.5rem);
}
@media only screen and (max-width: 1020px) {
  .app__images {
    justify-content: center;
  }
}
@media only screen and (max-width: 420px) {
  .app__images {
    grid-template-columns: repeat(10, 5rem);
    grid-template-rows: repeat(3, 10.5rem);
  }
}
.app__images_1 {
  width: 10.7rem;
  height: 21.4rem;
  grid-column: 1/3;
  grid-row: 2/4;
  z-index: 2;
  filter: drop-shadow(0 2rem 4rem rgba(53, 60, 115, 0.15));
  cursor: default;
}
@media only screen and (max-width: 420px) {
  .app__images_1 {
    width: 8rem;
    height: 16rem;
    grid-column: 2/4;
    grid-row: 3/4;
  }
}
.app__images_2 {
  width: 14.8rem;
  height: 28rem;
  grid-column: 9/12;
  grid-row: -1/-4;
  z-index: 3;
  filter: drop-shadow(0 2rem 4rem rgba(53, 60, 115, 0.15));
  cursor: default;
}
@media only screen and (max-width: 420px) {
  .app__images_2 {
    width: 11.5rem;
    height: 22rem;
    grid-column: 8/11;
    grid-row: 2/4;
  }
}
.app__images_3 {
  width: 60.6rem;
  height: 34.9rem;
  grid-column: 1/-1;
  grid-row: 1/-2;
  filter: drop-shadow(0 2rem 4rem rgba(53, 60, 115, 0.15));
  cursor: default;
}
@media only screen and (max-width: 420px) {
  .app__images_3 {
    width: 48.2rem;
    height: 27.8rem;
  }
}
.app__column {
  padding: 3rem 3rem 4rem 16rem;
}
@media only screen and (max-width: 1240px) {
  .app__column {
    padding: 5rem;
  }
}
@media only screen and (max-width: 1020px) {
  .app__column {
    padding: 0;
  }
}
@media only screen and (max-width: 1020px) {
  .app {
    flex-direction: column;
    padding: 10rem 10rem;
    margin: 0 auto;
  }
}

.about {
  padding: 9rem 25rem;
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 1240px) {
  .about {
    padding: 9rem 10rem;
  }
}
@media only screen and (max-width: 1020px) {
  .about {
    padding: 9rem 5rem;
  }
}

.icon {
  cursor: default;
}
.icon__background {
  width: 7rem;
  height: 7rem;
  background: #F5F8FF;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  grid-row: 1/2;
}
.icon__background:hover {
  transform: scale(1.15);
}

.features {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto 3rem auto 3rem auto 3rem auto;
  justify-items: center;
  align-items: center;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 1020px) {
  .features {
    grid-template-columns: minmax(min-content, 28rem) 3rem minmax(min-content, 28rem);
    grid-template-rows: auto auto;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.feature {
  display: grid;
  grid-template-rows: 7rem max-content 20rem;
  gap: 2rem;
  justify-items: center;
  align-items: start;
}

hr {
  width: 3rem;
  height: 0;
  border: 0.1rem solid #E8ECF4;
}

@media only screen and (max-width: 1020px) {
  .middle {
    display: none;
  }
}

.clouds_1 {
  width: 5.45rem;
  height: 2.6rem;
  top: 14rem;
  left: 22rem;
  position: absolute;
  z-index: -5;
}
@media only screen and (max-width: 1020px) {
  .clouds_1 {
    top: 5rem;
    left: 18rem;
  }
}
.clouds_2 {
  width: 11.6rem;
  height: 6.2rem;
  top: 20rem;
  right: 7rem;
  position: absolute;
  z-index: -5;
}
.clouds_3 {
  width: 11.4rem;
  height: 5rem;
  bottom: 20rem;
  left: 12rem;
  position: absolute;
  z-index: -5;
}

.numbers {
  display: flex;
}
.numbers__bright {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  padding: 6.6rem 9rem 6.6rem 37rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.5s;
}
@media only screen and (max-width: 1240px) {
  .numbers__bright {
    padding: 6.6rem 9rem 6.6rem 20rem;
  }
}
@media only screen and (max-width: 1020px) {
  .numbers__bright {
    padding: 6.6rem 9rem 6.6rem 10rem;
  }
}
@media only screen and (max-width: 550px) {
  .numbers__bright {
    padding: 5rem;
  }
}
.numbers__light {
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  padding: 6.6rem 37rem 6.6rem 9rem;
  width: 50%;
  transition: all 0.5s;
}
@media only screen and (max-width: 1240px) {
  .numbers__light {
    padding: 6.6rem 20rem 6.6rem 9rem;
  }
}
@media only screen and (max-width: 1020px) {
  .numbers__light {
    padding: 6.6rem 10rem 6.6rem 9rem;
  }
}
@media only screen and (max-width: 550px) {
  .numbers__light {
    padding: 5rem;
  }
}

.speed {
  width: 6.5rem;
  height: 6.6rem;
  margin-bottom: 2.5rem;
}

.people {
  width: 7.1rem;
  height: 6.2rem;
  margin-bottom: 2.5rem;
}

.get-started {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9rem 35rem;
  position: relative;
}
@media only screen and (max-width: 1240px) {
  .get-started {
    padding: 9rem 20rem;
  }
}
@media only screen and (max-width: 1020px) {
  .get-started {
    padding: 9rem 10rem;
  }
}

.clouds__blue_1 {
  width: 22.4rem;
  height: 13.4rem;
  position: absolute;
  top: 7.2rem;
  left: 5.4rem;
}
.clouds__blue_2 {
  width: 19rem;
  height: 7rem;
  position: absolute;
  bottom: 5.6rem;
  left: 11.1rem;
}
.clouds__blue_3 {
  width: 42.5rem;
  height: 18.6rem;
  position: absolute;
  right: 9rem;
  bottom: 7rem;
}

.sign-up {
  display: flex;
  padding: 12rem 27rem;
  align-items: center;
  justify-content: center;
}
.sign-up__column_1 {
  margin-right: 9rem;
  width: 33rem;
}
.sign-up__column_2 {
  display: flex;
  flex-direction: row;
}

.email {
  width: 28rem;
  height: 6rem;
  outline: none;
  border: none;
  background: #E8ECF4;
  border-radius: 0.5rem;
  padding: 2rem;
  color: #495274;
}
.email::placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  color: #495274;
}
.email:focus {
  border-bottom: 0.3rem solid #4074F8;
}
.email:focus:invalid {
  border-bottom: 0.3rem solid #D43F3F;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1240px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 550px) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: "Roboto Light", sans-serif;
}

.margin_bottom_7rem {
  margin-bottom: 7rem;
}

.margin_bottom_6rem {
  margin-bottom: 6rem;
}

/*# sourceMappingURL=style.css.map */
