@import 'styles/variables'
@import 'styles/typography'
@import "styles/buttons"
@import "styles/mixins"

@import "styles/page-blocks/app"
@import "styles/page-blocks/about"
@import "styles/page-blocks/numbers"
@import "styles/page-blocks/get-started"
@import "styles/page-blocks/sign-up"
@import "styles/page-blocks/footer"

*, ::after, ::before
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 62.5%
  @include respond(tab-land)
    font-size: 50%
  @include respond(phone)
    font-size: 40%

body
  font-family: "Roboto Light", sans-serif

.margin_bottom_7rem
  margin-bottom: 7rem

.margin_bottom_6rem
  margin-bottom: 6rem