@import "../mixins"
@import '../variables'

.questions
  padding: 10rem 34rem
  display: flex
  flex-direction: column
  align-items: center
  &__block
    width: 100%
    hr
      width: 100%
  @include respond(tab-land)
    padding: 10rem 15rem
  @include respond(tab-port)
    padding: 10rem 5rem

.question
  display: flex
  align-items: center
  padding: 2rem
  cursor: pointer
  user-select: none
  svg
    margin-right: 2.5rem
    @include respond(phone)
      width: 1.8rem
      height: 1.1rem
  &:hover
    p
      color: $text-gray
      font-weight: bold
    svg path
      stroke: $text-gray


.open
  svg path
    stroke: $text-gray
  svg
    transform: rotate(180deg)
  p
    color: $text-gray
    font-weight: bold

.answer
  display: none
  align-items: center
  justify-content: space-between
  padding: 0 1rem 2rem 6.2rem
  user-select: none
  p
    margin-right: 6rem
    width: 55%
  &__open
    display: flex
  @include respond(phone)
    flex-direction: column
    align-items: flex-start
    p
      width: 100%
      margin-right: 0
      margin-bottom: 2rem