@import "../mixins"
@import '../variables'

.sign-up
  display: flex
  padding: 12rem 27rem
  align-items: center
  justify-content: center
  &__column
    &_1
      margin-right: 9rem
      width: 33rem
    &_2
      display: flex
      flex-direction: row

.email
  width: 28rem
  height: 6rem
  outline: none
  border: none
  background: $button-gray
  border-radius: .5rem
  padding: 2rem
  color: $text-gray
  &::placeholder
    font-family: 'Quicksand', sans-serif
    font-weight: bold
    font-size: 1.3rem
    color: $text-gray
  &:focus
    border-bottom: .3rem solid $text-active
  &:focus:invalid
    border-bottom: .3rem solid $text-red