@import "variables"
@import "mixins"

button
  padding: 1.3rem 2.5rem
  outline: none
  border: none
  cursor: pointer

.buttons
  display: flex
  @include respond(tab-port)
    margin-bottom: 5rem
  &__about
    justify-content: center
    align-items: center
  &__hr
    width: 2rem
    margin: 0 2rem


.bright
  background: $button-blue
  color: $white
  box-shadow: 0 .5rem 1.5rem rgba($text-gray-light, .75)
  transition: all .3s ease
  border-radius: .5rem 0 0 .5rem
  &:hover
    background: $button-blue-dark
    transform: translateY(-.5rem)
  &__white
    background: $white
    color: $text-gray
    z-index: 5
    &:hover
      background: $white
      transform: translateY(-.5rem)
  &:active
    transform: translateY(-.2rem)

.dim
  border: .1rem solid $text-gray-light
  color: $text-gray-light
  background: transparent
  transition: all .3s ease
  border-radius: 0 .5rem .5rem 0
  &:hover
    background: $button-blue-dark
    color: $white
    border: .1rem solid $button-blue-dark
    transform: translateY(-.5rem)
  &__blue
    color: $button-blue-light
    border: .1rem solid $button-blue-light
    z-index: 5
  &:active
    transform: translateY(-.2rem)

.red
  background: $button-red
  color: $text-red
  transition: all .3s ease
  border-radius: .5rem
  &:hover
    color: $white
    background: $text-red
    transform: translateY(-.5rem)
  &:active
    transform: translateY(-.2rem)

.blue
  background: $button-blue-light
  color: $text-active
  transition: all .3s ease
  border-radius: .5rem
  &:hover
    color: $white
    background: $button-blue-dark
    transform: translateY(-.5rem)
  &:active
    transform: translateY(-.2rem)

.dark
  background: $button-blue-dark
  color: $white
  border-radius: .5rem
  padding: 2rem 6rem
  transition: all .3s ease
  &:hover
    transform: translateY(-.5rem)
  &:active
    transform: translateY(-.2rem)