@import "variables"

.title-4
  font-weight: 500
  font-size: 1rem
  text-transform: uppercase
  color: $text-headers
  margin-bottom: 2.5rem

.title-2
  font-family: 'Quicksand', sans-serif
  font-weight: 400
  font-size: 3.6rem
  color: $text-headers
  margin-bottom: 2.5rem

.text
  font-weight: 400
  font-size: 1.5rem
  line-height: 3.5rem
  color: $text
  &__grey_big
    color: $text
    font-size: 1.1rem
    font-weight: bold
  &__white_big
    color: $white
    font-family: 'Quicksand', sans-serif
    font-weight: 600
    font-size: 1.8rem
    text-align: right
  &__blue_big
    color: $text-active-light
    font-family: 'Quicksand', sans-serif
    font-weight: 600
    font-size: 1.8rem

.title-5
  font-weight: bold
  font-size: 1.4rem
  color: $text-active

.title-3
  font-family: 'Quicksand', sans-serif
  font-weight: 400
  font-size: 4.8rem
  &_white
    color: $white
    margin-bottom: 2.5rem
  &_blue
    color: $text-active-light
    margin-bottom: 2.5rem